body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    justify-content: center;
    border: solid black;
    background-color: white;
}

.row {
    display: flex;
}

button {
    background-color: lightskyblue;
    width: 100px;
    padding: 8px;
}